<nav class="navbar navbar-expand-lg fixed-top navbar-transparent text-dark">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" id="btntoggle" (click)="onclick(opendiv)" type="button" data-toggle="collapse " data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <i class="fa-solid fa-bars" id="toolbaar" ></i> -->
      <span class="fa-solid fa-bars"  id="toolbaar"></span>
    </button>
    <div class="collapse navbar-collapse" #opendiv id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
          <a class="nav-link" href="#ids" data-spy="scroll">about</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-spy="scroll" routerLink="skills">skills</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="projct">project</a>

        </li>
        
       
      </ul>
    </div>
  </nav>
  
      <div class="img1" id="img">
        <div class="row">
          <div class="col-md-12">
        <div class="row d-flex justify-content-between">
          <div class="col-md-6">
            <h1 class="text-uppercase head">
              front end angular developer
            </h1>
          </div>
          <div class="col-md-6">
            <div class="img2" id="img2"></div>
          </div>
          </div>
        </div>
    </div>
  </div>
  <app-about></app-about>
    <router-outlet></router-outlet>
  
  
  <div>
    <p>
      AngularJS Material is an implementation of Google's Material Design Specification (2014-2017). This project provides a set of reusable, well-tested, and ...
    </p>
  </div>
  
  