<mat-card class="my-4">
  <section class="work" id="work">
    <div class="container">
      <div class="row">
        
        <div class="col-md-12 exp" data-aos="fade-right">
          <header class="title mt-4 mt-md-0">
            <h2>WORK EXPERIENCE</h2>
          </header>
          <div class="row d-flex justify-content-between">
            <div class=" col-md-4 box">
              <h4>2022 - Present</h4>
              <h3>HARVEST DESIGNS</h3>
              <p>Front-End Angular Developer.</p>
              <ul>
                <li>  Led the front-end development for an E-commerce domain, ensuring a seamless and user-friendly experience. The
                  major services include sales of electrical accessories like transformers, solar panels, motors and batteries.
                  .</li>
                <li> Created different modules, components using Angular Material, pipes and directives in Angular as per business
                  requirements.
                  .
                  </li>
                  <li>
                    Implemented responsive web design techniques to ensure that the e-commerce website functions well across various
                    devices and screen sizes, providing a consistent user experience on desktops, tablets, and smartphones.
                  </li>
                  <li>
                    Implementation of different types of Quotation forms using reactive forms in Angular and TD form for Login and
                    Signup Component.
                  </li>
                  <li>
                    Optimized the frontend performance by applying best practices such as code splitting, lazy loading, and caching.
                  </li>
                  <li>
                    Monitor and analyze website performance metrics (e.g., page load time, time to interact) to identify and address
                    performance bottlenecks Overcame data integration challenges in the user module implementing a custom API,
                    ensuring accurate and up-to-date information&nbsp;to&nbsp;users.
                  </li>
              </ul>
            </div>
            <div class="col-md-4 box">
              <h4>2021 - 2022</h4>
              <h3>HARVEST DESIGNS</h3>
              <p>Front End UI Developer</p>
              <ul>
                <li>Converted PSD into responsive HTML using Bootstrap 4.</li>
                <li>Created interactions using JavaScript/jQuery.</li>
                <li>
                  Used jQuery Plugins.
                </li>
                <li>
                  Fixing issues raised by team.
                </li>
                <li>
                  Responsive website for browser &amp; environmental compatibility on&nbsp;every&nbsp;devices.
                </li>
              </ul>
            </div>
            <div class=" col-md-4 box">
              <h4>2020 - 2021</h4>
              <h3>HARVEST DESIGNS</h3>
              <p>Alication Support Enginer</p>
              <ul>
                <li>Coordinated with Level 1 techinicl support specialists to take over calls ouside their level of support.</li>
                <li>Assisted customers with more diffcult Technical issues requiring a greater level of personalized care and in greater length.</li>
                <li>
                  Diagnose and troubleshoot softwear and hardware problems and hepl our clients install applications and programs.
                </li>
                <li>
                    Escalated support desk tickets to Level 3 in the most crucial circumstances and on boareded and trained all incoming junior tech support specialists.
                </li>
          
              </ul>
            </div>
          </div>
            <div class="col-md-12" data-aos="fade-right">
              <header class="title">
                <h2>EDUCATION</h2>
              </header>
              <div class="contents">
                <div class="box">
                  <h4>2016 - 2020</h4>
                  <h3>Bachelor's Engineer</h3>
                  <p>
                   Shri Shivaji Institute Of Engineer &amp; And Managemant Studies Parbhani
                  </p>
                  <ul>
                    <li>Completed Batchelor's with CGPA of <strong>9.73</strong>, Grade : <strong>O</strong>.</li>
                    <li>During my academic year part of social activity called <strong>National Service Scheme</strong>.</li>
                    <li>Along with my degree, completed basic computer courses like  and FrontEnd Languages such as HTML5, CSS, JavaScript, TypeScript, Angular, Angular Material,
                      Bootstrap,etc.
                    </li>
                  </ul>
                </div>
                
              </div>
    
            </div>


          
        </div>

        
      
      
      </div>
     </div>
   </section>
</mat-card>